/* Thanks to https://autoprefixer.github.io for getting the css to look good on last 4 version of browsers (Chrome 78 - IE8)*/

html 
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Huge thanks to Leone Venter (https://unsplash.com/@fempreneurstyledstock) for posting this photo on Unsplash(https://unsplash.com/photos/VieM9BdZKFo) */
  background: url('../img/background.jpg') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Privacy-friendly fonts and fonts that everyone has on their device. According to https://en.wikipedia.org/wiki/Core_fonts_for_the_Web */
  font-family: Arial, 'Courier New', 'Comics Sand MS', Georgia, Impact, monospace, sans-serif, 'Times New Roman', 'Trebuchet MS', Verdana;
}

*, *:before, *:after 
{
  -webkit-box-sizing: inherit;
          box-sizing: inherit; 
}

.toDoContainer 
{
  padding: 2%;
  max-width: 80%;
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
          box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

h2 
{
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.toDo 
{
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.toDo li 
{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 1em 0;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toDo label 
{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

.toDo input 
{
  display: none;
}

.toDo input + label:before 
{
  content: '⬜️';
  margin-right: 1em;
}

.toDo input:checked + label:before 
{
  content: '✔️';
}

/* If the to do item is checked then strikethrough the entire line to be able to see the difference between items done and not done. Huge thanks to https://old.reddit.com/r/learnjavascript/comments/5oqpih/strike_through_para_using_javascript_in_todo_list/dcmxkg2/ for the guidance.*/
.toDo input:checked + label
{
  text-decoration: line-through;
}

.add-needDo 
{
  margin-top: 2em;
}

.add-needDo input 
{
  padding: 1em;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
}